@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --step--2: clamp(0.6914rem, 0.6909rem + 0.0022vw, 0.6944rem);
    --step--1: clamp(0.7778rem, 0.7698rem + 0.0397vw, 0.8333rem);
    --step-0: clamp(0.875rem, 0.8571rem + 0.0893vw, 1rem);
    --step-1: clamp(0.9844rem, 0.9536rem + 0.154vw, 1.2rem);
    --step-2: clamp(1.1074rem, 1.0599rem + 0.2376vw, 1.44rem);
    --step-3: clamp(1.2458rem, 1.177rem + 0.3444vw, 1.728rem);
    /* --step-4: clamp(1.4016rem, 1.3056rem + 0.48vw, 2.0736rem); */
    /* --step-4: clamp(1.5768rem, 1.4466rem + 0.6511vw, 2.4883rem); */
    /* --step-4: clamp(1.7739rem, 1.6007rem + 0.8658vw, 2.986rem); */
    /* --step-4: clamp(1.9956rem, 1.7688rem + 1.134vw, 3.5832rem); */
    --step-4: clamp(2.2451rem, 1.9515rem + 1.4677vw, 4.2998rem);
    --step-5: clamp(2.5257rem, 2.1494rem + 1.8815vw, 5.1598rem);
    --step-6: clamp(2.8414rem, 2.3628rem + 2.3931vw, 6.1917rem);
    /* --step-11: clamp(3.192rem, 2.594rem + 2.9737vw, 7.413rem); */
    --step-7: clamp(3.591rem, 2.853rem + 3.5562vw, 8.890rem);
    /* --step-7: clamp(4.012rem, 3.136rem + 4.2154vw, 10.668rem); */

  }
}

@layer components {
  .hyperlink {
    @apply bg-[linear-gradient(transparent_0%,_transparent_calc(55%_-_9px),_rgba(232,_113,_10,_1)_calc(55%_-_9px),_rgba(232,_113,_10,_1)_100%)] bg-[length:100%_200%] transition-[background-position,padding] duration-300 ease-in-out hover:bg-[linear-gradient(transparent_0%,_transparent_calc(55%_-_9px),_rgb(232,_113,_10)_calc(55%_-_9px),_rgb(232,_113,_10)_100%)] hover:bg-[position:0_100%] text-secondary no-underline cursor-pointer
  }
}

@layer utilities {
  .font-sans {
    font-feature-settings: "tnum" on;  /* for more, check out: https://rsms.me/inter/#features */
    /* font-variation-settings: "opsz" 32; */
    /* letter-spacing: -0.031rem; */
    text-rendering: optimizelegibility
  }

  .font-serif {
    /* font-feature-settings: "liga" 0; */
    /* font-kerning: auto; */
    letter-spacing: -.02em;   /* defines how letters are spaced */
    text-rendering: optimizelegibility
  }
}

*,
*:before,
*:after {
  @apply cursor-default;
}

button {
  @apply cursor-pointer;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-gutter: stable;
  scrollbar-width: none;
  scrollbar-color: #555 #222224;
}

p {
  @apply font-sans text-sans-md font-light leading-6;
}

.box-btn {
  @apply uppercase font-sans font-extrabold text-sans-sm/4 text-secondary border border-solid border-secondary border-opacity-25 bg-transparent px-6 py-3.5 transition-all duration-300 hover:bg-secondary hover:text-primary;
}

/* .contact-btn {
  @apply uppercase font-sans font-extrabold md:text-sans-sm/4 text-sans-xs/4 text-secondary border border-solid border-secondary border-opacity-25 bg-transparent py-2 px-6 md:px-6 md:py-3.5 transition-all duration-300 hover:bg-secondary hover:text-primary;
} */

.form-field {
  @apply text-secondary border border-solid border-secondary border-opacity-25 bg-transparent transition duration-300 focus:outline-none focus:border-opacity-100 md:px-3 md:py-2 px-2 py-2
}

.icon-link {
  @apply text-secondary md:size-[var(--step-1)] size-4 transition-all duration-300 hover:-translate-y-1;
}

/* .highlight {
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-image: linear-gradient(to right, #ffdd57 100%);
  transition: background-size 1s ease;
} */

/* .writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
} */


/* html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
} */

.active {
  @apply bg-secondary h-12
}

/* #tagline {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(5rem);
  transition: transform .5s
} */