---
import { Image } from "astro:assets";
import "../../../styles/carousel.css";
---

<div class="wrapper">
  <div class="boxes">
    <Image src={import('/src/images/fama.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/graham.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/kahneman.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/shannon.png')} class="box h-[40vh] w-auto" alt="" />    
    <Image src={import('/src/images/fama.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/graham.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/kahneman.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/shannon.png')} class="box h-[40vh] w-auto" alt="" />    
    <Image src={import('/src/images/fama.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/graham.png')} class="box h-[40vh] w-auto" alt="" />
    <Image src={import('/src/images/kahneman.png')} class="box h-[40vh] w-auto" alt="" />
</div>
<script type="text/javascript" src="/scripts/carousel.js"></script>