---

---

<div>
  <form action="https://kwesforms.com/api/f/A69rvbf3llfpczSRvyNa" method="POST" class="flex flex-col gap-8">
    <div class="flex flex-row flex-grow flex-wrap gap-4">
      <div class="flex flex-col gap-4">
        <fieldset class="flex flex-wrap gap-4 font-bold text-xs">
          <label>
            <input type="radio" id="individual" name="contact" value="individual">
            I'm an individual
          </label>
          <label>
            <input type="radio" id="company" name="contact" value="company">
            I'm a company representative
          </label>
        </fieldset>
        <div class="flex flex-wrap gap-4">
          <input class="form-field w-50 flex-grow-1" type="text" id="name" name="name" autocomplete="name" placeholder="Name" required>
          <input class="form-field w-50 flex-grow-1 bg-primary" type="text" id="surname" name="surname" autocomplete="surname" placeholder="Surname" required>
        </div>
          <input class="form-field" id="email" name="email" type="email" autocomplete="email" placeholder="Email" required>
          <input class="form-field" type="tel" id="phone" name="phone" placeholder="Phone (Optional)">
        <div>
          <input type="checkbox" id="policy" name="policy" required>
          <span>By selecting this, you agree to the site's privacy policy</span>
        </div>
      </div>
      <div class="flex flex-col flex-1 gap-4">
        <input class="form-field" id="subject" name="subject" placeholder="Subject (Optional)">
        <input class="form-field flex-grow" id="message" name="message" placeholder="Message" required>
      </div>
    </div>
    <div>
      <button class="box-btn [&&]:px-12 inline-block">Send message</button>
    </div>
  </form>
</div>