---
const sections = [
  {
    year: "2018",
    title: "Developing core competencies in computational modelling",
    content:
      "For his final year dissertation on the topic of patterned defects in graphene, Michael Gauci applied molecular dynamics (MD) simulation, a technique known for providing more accurate sampling than Monte Carlo which fails to adhere to the physical properties of the chemical system. Due to the high computational demand required for this study, Michael was granted access to the university's high-performance computing facility, where he gained proficiency in the Linux command line.",
    background: "/images/abstract-expressionism-kandinsky.webp"
  },
  {
    year: "2019",
    title: "Wearing the entrepreneurial hat",
    content:
      "Michael's stint at a green tech startup, which he himself founded, was characterised by long working hours that included meetings with various stakeholders and technical discussions held among his team of software developers. This experience not only demonstrated his capacity to thrive in a stressful environment but also provided him with a profound understanding of the critical role that leadership plays in a company's success, contributing to his deep appreciation for the quantamental approach to investing.",
    background: "/images/abstract-expressionism-pollock.webp"
  },
  {
    year: "2020",
    title: "Navigating the lockdowns and machine learning",
    content:
      "Following his participation in a training program on the application of machine learning to gravitational wave research, Michael effectively used the time afforded by the Covid-19 lockdowns to further expand his knowledge in the domain of unsupervised learning. During this period, he developed a Python-based literature analysis toolkit to facilitate academic research, which leveraged the use of both clustering algorithms and natural language processing.",
    background: "/images/abstract-expressionism-rothko.webp"

  },
  {
    year: "2021",
    title: "A Master's perspective into big data analytics",
    content:
      "The Masters undertaken by Michael primarily consisted in a theoretical study of novel folded forms of graphene, achieved through the use of the advanced molecular dynamics simulation software known as LAMMPS. In view of the large volume of data produced during the study, custom Python scripts were pivotal in streamlining the analysis process of the large datasets produced by the simulations",
    background: "/images/avant-garde-malevich.webp"

  },
  {
    year: "2022",
    title: "Managing an investment portfolio in the cloud",
    content:
      "Motivated by his lifelong interest in geopolitics and economics, Michael explored ways in which he could apply his multidisciplinary expertise within the world of finance. Consequently, he embarked on a long-term project for the creation of software to facilitate the management of his personal investment portfolio across different equity markets. Due to its high availability requirement, he opted to leverage his knowledge of AWS to architect and manage the service in the cloud.",
    background: "/images/cubism-picasso.webp"

  },
  {
    year: "2023",
    title: "The self-study that inspired a book",
    content:
      "Michael's research into quantitative finance, initially undertaken to guide him through the development of his portfolio management system, evolved into a book slated for publication. By offering it under a public domain licence, he aims to provide aspiring quants with valuable insights into the interdisciplinary nature of the field, while emphasising the need for a critical analysis of trading strategies.",
    background: "/images/de-stijl-mondrian.webp"

  },
  {
    year: "2024",
    title: "An open mind to new experiences",
    content:
      "Breaking into the quant industry is much more difficult to achieve by staying on a small island nation like Malta, so Michael decided to leave in search of new opportunities across Europe. His ongoing trip has brought him into contact with a rich diversity of cultures, an experience he has handled seamlessly as a multilingual speaker.",
    background: "/images/futurism-boccioni.webp"

  },
];
---

<div id="section-timeline" class="section-timeline">
  <div class="timeline-container">
    {
      sections.map((section: { year: string; title: string; content: string; background: string }, index: number) => (
        <article class={`year year-${index + 1} bg-cover bg-center bg-no-repeat`} data-count={`${index + 1}`} style={`background-image: url(${section.background})`}>
          <hgroup>
            <h2>{section.year}</h2>
              <p class="bg-primary bg-opacity-75 p-6">{section.content}</p>
          </hgroup>
        </article>
      ))
    }
  </div>
</div>
<script type="text/javascript" src="/scripts/timeline.js"></script>