---
const sections = [
  {
    year: "2024",
    title: "An open mind to new experiences",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2023",
    title: "The self-study that inspired a book",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2022",
    title: "Managing an investment portfolio in the cloud",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2021",
    title: "A Master's perspective into big data analytics",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2020",
    title: "Navigating the lockdowns and machine learning",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2019",
    title: "Wearing the entrepreneurial hat",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
  {
    year: "2018",
    title: "Developing core competencies in computational modelling",
    content:
      "Lorem ipsum dolor sit amet, ad sed dolore deseruisse, et mei tempor lobortis, his ne wisi illud aliquam. Vero commune te has. Quo te modus mentitum. Eum ut perpetua consequat, inani tacimates patrioque sed ea. Ludus veniam ornatus no mei, ex labitur eligendi molestiae ius. Cum probo graeci eu, has eu petentium salutandi. Vim tritani sanctus deterruisset an, quas principes sed ad. Habeo pertinacia posidonium ea eam, mei ei choro ponderum, cu doming dolores adversarium mea.",
  },
];
---

<!-- <svg display="none">
  <symbol id="arrow">
    <polyline points="7 10,12 15,17 10" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
  </symbol>
</svg> -->
<div id="timeline" class="timeline">
  {
    sections.map((section: { year: string; title: string; content: string }, index: number) => (
      <div class="timeline__item">
      <div class="timeline__item-header">
        <button class="timeline__arrow" type="button" id={`item${index + 1}`} aria-labelledby="item6-name" aria-expanded="false" aria-controls={`item${index + 1}-ctrld`} aria-haspopup="true" data-item={index + 1}>
          <svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
            <use href="#arrow" />
          </svg>
        </button>
        <span class="timeline__dot">
          <button type="button" aria-controls={`item${index + 1}-ctrld`} aria-haspopup="true"></button>
        </span>
        <span id={`item${index + 1}-name`} class="timeline__meta">
          <time class="timeline__date" datetime="2038-01-19">{section.year}</time><br>
        </span>
      </div>
      <div class="timeline__item-body" id={`item${index + 1}-ctrld`} role="region" aria-labelledby={`item${index + 1}`} aria-hidden="true">
        <div class="timeline__item-body-content">
          <span class="whitespace-nowrap font-serif">{section.title}</span>
          <p class="timeline__item-p">{section.content}</p>
        </div>
      </div>
    </div>
    ))
  }
</div>
<script type="module" src="/src/scripts/timeline.js"></script>
