---
import Splash from "../components/index/Splash.astro";
import About from "../components/index/About.astro";
import Book from "../components/index/Book.astro";
import Blog from "../components/index/Blog.astro";
import Contact from "../components/index/Contact.astro";
---

<body
  class="bg-default text-default h-full overflow-x-hidden text-base selection:bg-secondary selection:text-white"
>
  <Splash />
  <About />
  <Book />
  <Blog />
  <Contact />
</body>
