---
import BaseLayout from '../layouts/default.astro';
import Greeting from '../components/Greeting';
import Button from '../components/Button';
---

<BaseLayout title="Michael Gauci">
    <h2 class="text-teal-400 font-serif ">Welcome</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
    <div class="grid place-items-center h-screen content-center">
        <Button client:load>Tailwind Button in Astro!</Button>
    </div>
</BaseLayout>