---
import Splash from "../components/index/Splash.astro";
import About from "../components/index/About.astro";
import Book from "../components/index/Book.astro";
import Contact from "../components/index/Contact.astro";
import Layout from "../layouts/PageLayout.astro";
---

<Layout pageTitle="Michael Gauci">
  <button id=ContactBtn class="box-btn fixed z-20">Contact</button>
    Contact
  </button>  
  <Splash />
  <About />
  <Book />
  <Contact />
</Layout>
