---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Michael Gauci";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Welcome</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>