---
import { frontmatter, Content } from '../policy.md';
import Layout from "../layouts/PageLayout.astro";
import ArticleLayout from '../layouts/ArticleLayout.astro';
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Michael Gauci">
  <div class="flex flex-col items-center mx-4">
    <div class="relative text-left max-w-[850px]">
      <span class="font-serif text-serif-md pt-24 pb-4 block">{frontmatter.title}</span>
      <span class="font-sans font-light text-sans-sm block pb-12">Updated {frontmatter.date}</span>
      <ArticleLayout>
        <Content />
      </ArticleLayout>
    </div>
  </div>
  <div class="md:mx-32">
    <Footer/>
  </div>
</Layout>