---
import Layout from "../layouts/PageLayout.astro"
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Michael Gauci">
  <div class="flex flex-col flex-between min-h-screen mx-4 md:mx-32">
    <div class="flex flex-col justify-center items-center flex-grow">
      <span class="font-serif text-serif-md">Message sent.</span>
      <div class="py-24" style="width: 100%; height:auto; max-width: 400px;">
          <LottieAnimation src='/assets/sent-fixed.json' autoplay="visible" />
      </div>
    <span class="font-sans text-sans-md text-center">Thank you for filling out the form. Expect a reply within the next 24 hours.</span>
    <a href="/">
      <button class="box-btn [&&]:px-12 inline-block mt-8">Back to home</button>
    </a>
  </div>
    <div class="flex-none">
      <Footer/>
    </div>
  </div>
</Layout>
