---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
  levels?: 1 | 2 | 3;
}

const { headings, levels = 3 } = Astro.props as Props;
const filteredHeadings = headings.filter((heading) => heading.depth <= levels);
---

<div class="border-base-400 rounded-xs border p-4 text-sm leading-tight max-w-96 select-none">
  <h4 class="text-xl font-medium">Table of Contents</h4>
  <ul class="mt-4 flex flex-col gap-2 pr-4">
    {
      filteredHeadings.map((heading) => (
        <li
          class:list={{
            "pl-3": heading.depth === 2,
            "pl-6": heading.depth === 3,
          }}
          class="relative"
        >
          <a
            href={`#${heading.slug}`}
            class="toc-link inline-block max-w-full font-normal hover:font-semibold transition-[font-weight]"
          >
            <span class="invisible max-w-full font-semibold opacity-0 pointer-events-none" aria-hidden="true">
              {heading.text}
            </span>
            <span class="absolute top-0 left-0 max-w-full">
              {heading.text}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
