---
import { Icon } from 'astro-icon/components'

---

<div>
  <hr class="h-px mb-8 bg-secondary opacity-60 border-0">
  <div class="flex md:justify-between md:items-start md:flex-row flex-col mb-12">
    <div class="md:flex-grow md:basis-0">
      <div class="flex gap-4">
        <a class="text-sans-sm" href="/policy">
          <span class="relative after:absolute after:bottom-[-2px] after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-secondary">Privacy policy</span>
        </a>
        <a class="text-sans-sm" href="/Michael_Gauci_CV.pdf" target="_blank" rel="noopener noreferrer">
          <span class="relative after:absolute after:bottom-[-2px] after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-secondary">Curriculum vitæ</span>
        </a>      
      </div>
    </div>
    <span class="text-sans-sm md:text-center pt-2 md:pt-0 opacity-60">© 2024 Michael Gauci. All rights reserved.</span>
    <div class="md:flex-grow md:basis-0">
      <div class="flex justify-end gap-4">
        <a href="https://github.com/micmalti/" target="_blank" rel="noopener noreferrer">
          <Icon name="github" class="icon-link"/>
        </a>
        <a href="https://www.linkedin.com/in/michaelgaucimt/" target="_blank" rel="noopener noreferrer">
          <Icon name="linkedin" class="icon-link"/>
        </a>
        <a href="https://stackoverflow.com/users/10353368/micmalti" target="_blank" rel="noopener noreferrer">
          <Icon name="stack-overflow" class="icon-link"/>
        </a>
        <a href="https://twitter.com/MichaelGauciMT" target="_blank" rel="noopener noreferrer">
          <Icon name="x" class="icon-link"/>
        </a>
      </div>
    </div>
  </div>
</div>