---
import { Icon } from 'astro-icon/components'

---

<div class="flex justify-between items-start mb-8">
  <a class="text-sm" href="/policy">
    <span class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-secondary">Privacy policy</span>
  </a> 
  <span class="text-sm flex-grow text-right lg:text-center">© 2024 Michael Gauci. All rights reserved.</span>
  <div class="hidden md:grid md:grid-cols-4 md:gap-5">
    <a href="/Michael_Gauci_CV.pdf" target="_blank" rel="noopener noreferrer">
      <Icon name="cv" class="icon-link"/>
    </a>
    <a href="https://github.com/micmalti/" target="_blank" rel="noopener noreferrer">
      <Icon name="github" class="icon-link"/>
    </a>
    <a href="https://www.linkedin.com/in/michaelgaucimt/" target="_blank" rel="noopener noreferrer">
      <Icon name="linkedin" class="icon-link"/>
    </a>
    <a href="https://twitter.com/MichaelGauciMT" target="_blank" rel="noopener noreferrer">
      <Icon name="x" class="icon-link"/>
    </a>
  </div>
</div>