---
import { Icon } from 'astro-icon/components'

---

<div class="flex justify-between mb-8">
  <span class="text-sm flex-none">Privacy policy</span>
  <span class="text-sm flex-grow text-center">© 2024 Michael Gauci. All rights reserved.</span>
  <div class="grid grid-cols-4 gap-5">
    <Icon name="cv" class="text-secondary size-5"/>
    <Icon name="github" class="text-secondary size-5"/>
    <Icon name="linkedin" class="text-secondary size-5"/>
    <Icon name="x" class="text-secondary size-5"/>
  </div>
</div>