---

---

<header class="sticky top-0 z-10 flex h-12 items-center bg-primary/30 pl-4 align-middle backdrop-blur-sm transition-opacity duration-200 ease-in">
  <a href="/#home">
    <span class="font-header select-none font-serif text-sm font-medium text-secondary">Michael Gauci</span>
  </a>
</header>
<script type="text/javascript" src="/scripts/header.js"></script>
