---

---

<header class="sticky top-0 z-10 ml-6 py-8 ease-in transition-opacity duration-200">
  <a href="/#home">
    <span class="font-serif text-secondary font-semibold text-2xl select-none">Michael Gauci</span>
  </a>
</header>
<script type="text/javascript" src="/scripts/header.js"></script>