---

---

<header class="sticky mb-2 mt-2 flex justify-center md:mb-4 md:mt-4">
  <a href="/#home">
    <span class="select-none font-serif text-serif-header font-semibold text-secondary hover:text-white">Michael Gauci</span>
  </a>
</header>
