---

---

<header class="sticky top-0 z-10 pl-4 h-12 flex items-center align-middle ease-in transition-opacity duration-200 backdrop-blur-sm bg-primary/30">
  <a href="/#home">
    <span class="font-serif text-secondary font-medium font-header text-sm select-none">Michael Gauci</span>
  </a>
</header>
<script type="text/javascript" src="/scripts/header.js"></script>