---

---

<header class="sticky mt-2 mb-2 md:mt-4 md:mb-4 flex justify-center">
  <a href="/#home">
    <span class="select-none font-serif text-serif-header font-semibold text-secondary hover:text-white">Michael Gauci</span>
  </a>
</header>