---
// import "../../styles/timeline.css";
import Timeline from "./components/Timeline.astro";
---

<div id="about" data-color="rgb(17 17 17)">
  <!-- <section>
    <div class="relative mx-4 flex min-h-screen flex-col justify-between pb-[env(safe-area-inset-bottom)] md:mx-32">
      <div class="flex flex-grow flex-col">
        <span id="tagline" class="pb-44 text-left font-serif text-serif-lg text-gray-800">
          A computational chemist with a
          <span class="inline-block md:inline">data-driven mindset</span>
          and a strong background in
          <span class="italic">quantitative finance.</span>
        </span>
      </div>
      <div class="mb-32 flex justify-center">
        <span id="hint" class="font-sans text-sans-sm uppercase opacity-0">Scroll down to learn his story</span>
      </div>
    </div>
  </section> -->
  <Timeline />
</div>
