---
// import "../../styles/timeline.css";
import SectionLayout from "../../layouts/SectionLayout.astro";
import Timeline from "./components/Timeline.astro";

---

<SectionLayout sectionTag="about">
  <!-- <section class="flex flex-col align-middle items-center justify-center min-h-screen">
    <span id="tagline" class="font-serif text-serif-lg pb-44 text-left">
      A computational chemist with a 
      <span id="highlight" class="md:inline inline-block">data-driven mindset</span>
      and a strong background in
      <span class="italic">quantitative finance.</span>
    </span>
    <span id="hint" class="font-sans uppercase opacity-0 text-sans-sm">Scroll down to learn his story</span>
  </section> -->

  <div class="relative min-h-screen pb-[env(safe-area-inset-bottom)] flex flex-col justify-between mx-4">
    <div class="flex flex-col justify-center items-center flex-grow">
      <span id="tagline" class="font-serif text-serif-lg pb-44 text-left">
        A computational chemist with a 
        <span id="highlight" class="md:inline inline-block">data-driven mindset</span>
        and a strong background in
        <span class="italic">quantitative finance.</span>
      </span>
    </div>
    <div class="flex justify-center mb-32">
      <span id="hint" class="font-sans uppercase opacity-0 text-sans-sm">Scroll down to learn his story</span>
    </div>
  </div>
  <div class="box-border z-[99] absolute top-auto bottom-[6em] left-0 right-0 pointer-events-none">
    <div class="cursor-auto pointer-events-none box-border w-[85%] mr-auto ml-auto flex flex-row flex-1 justify-between items-start relative">
      <div class="principle__nav cursor-auto pointer-events-none box-border gap-[0.5em] flex-col flex-1 items-start flex relative">
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot active-section max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer w--current"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
        <a href="#" data-mouse-class="click" class="principle__nav-dot max-w-full inline-block bg-gray-500 w-[2px] h-6 transition-[height, opacity] duration-500 ease-[cubic-bezier(.165,.84,.44,1)] pointer-events-auto box-border cursor-pointer"></a>
      </div>
    </div>
  </div>
  <Timeline />
  <script type="text/javascript" src="/scripts/Timeline.js"></script>
</SectionLayout>
