---
// import "../../styles/timeline.css";
import SectionLayout from "../../layouts/SectionLayout.astro";
import Timeline from "./components/Timeline.astro";

---

<SectionLayout sectionTag="about">
  <section class="flex flex-col align-middle items-center justify-center min-h-screen">
    <span class="font-serif text-7xl pb-4">A computational chemist with a <span class="bg-tertiary">data-driven mindset</span>
    and a strong background in <span class="italic">quantitative finance.</span></span>
    <span class="font-sans text-sm uppercase">Scroll the timeline to learn his story</span>
  </section>
  <Timeline />
</SectionLayout>