---
// import "../../styles/timeline.css";
import SectionLayout from "../../layouts/SectionLayout.astro";
import Timeline from "./components/Timeline.astro";

---

<SectionLayout sectionTag="about">
  <section class="flex flex-col align-middle items-center text-center justify-center min-h-screen">
    <span id="tagline" class="font-serif text-serif-lg pb-44">
      A computational chemist with a 
      <span id="highlight">data-driven mindset</span>
      and a strong background in
      <span class="italic">quantitative finance.</span>
    </span>
    <span id="hint" class="font-sans uppercase opacity-0 text-sans-sm">Scroll down to learn his story</span>
  </section>
  <Timeline />
</SectionLayout>
