---
// import "../../styles/timeline.css";
import Timeline from "./components/Timeline.astro";

---

<div id="about">
  <section>
    <div class="relative min-h-screen pb-[env(safe-area-inset-bottom)] flex flex-col justify-between mx-4 md:mx-32">
      <div class="flex flex-col justify-center items-center flex-grow">
        <span id="tagline" class="font-serif text-serif-lg pb-44 text-left">
          A computational chemist with a 
          <span class="md:inline inline-block">data-driven mindset</span>
          and a strong background in
          <span class="italic">quantitative finance.</span>
        </span>
      </div>
      <!-- <div class="tagline-container overflow-hidden border border-secondary pt-12">
        <span id="tagline" class="font-serif text-serif-lg">
          A computational chemist with a data-driven mindset and a strong background in quantitative finance.
        </span>
      </div> -->
      <div class="flex justify-center mb-32">
        <span id="hint" class="font-sans uppercase opacity-0 text-sans-sm">Scroll down to learn his story</span>
      </div>
    </div>
  </section>
  <Timeline />
</div>
