---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout sectionTag="blog">
  <h2 class="mb-4 text-2xl">About Us</h2>
  <p>This is the about section of the SPA.</p>
</SectionLayout>
