---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout sectionTag="blog">
  <span class="text-5xl font-serif font-normal">Featured articles</span>
  <div>
    <p class="font-sans text-base font-light leading-6">⁨Lorem ipsum dolor sit amet, ad zril aperiam sit, ea eos meis timeam phaedrum. Eam omnis propriae qualisque id, ei suas virtute perfecto quo. Eos simul tation facilis in, amet adipiscing appellantur et cum, animal</p>
    <button class="box-btn">View all</button>
  </div>
</SectionLayout>
