---
// import "../../styles/carousel.css";
import SectionLayout from "../../layouts/SectionLayout.astro";
import Carousel from "./components/Carousel.astro";
---

<SectionLayout sectionTag="book">
  <div class="flex flex-col min-h-screen">
    <div class="flex flex-col justify-between">
      <Carousel/>
      <div class="">
        <div class="px-6">
          <span class="text-5xl font-serif font-normal">A Hitchhiker's Guide to Quantitative Finance</span>
          <div class="max-w-5xl">
            <span>The author, drawing on a background in computational chemistry and solo quantitative research, aims to provide an interdisciplinary guide covering the crucial intersections of mathematics, statistics, finance, and computer science. Structured in a way that allows readers to approach each chapter independently, the book covers a wide array of topics, from statistical modeling and regression to more advanced areas like market microstructure, algorithm design, and financial derivatives. Despite its rigor, it refrains from advocating specific trading strategies, instead empowering readers with the knowledge and tools needed to develop their own.</span>
          </div>
          <button class="box-btn pointer-events-none [&&]:text-secondary/25">
            <span>Coming soon</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</SectionLayout>