---
// import "../../styles/carousel.css";
import SectionLayout from "../../layouts/SectionLayout.astro";
import Carousel from "./components/Carousel.astro";
---

<SectionLayout sectionTag="book">
  <div>
    <span class="text-5xl font-serif font-normal">A Hitchhiker's Guide to<br>Quantitative Finance</span>
    <p>Lorem ipsum dolor sit amet, ad zril aperiam sit, ea eos meis timeam phaedrum. Eam omnis propriae qualisque id, ei suas virtute perfecto quo. Eos simul tation facilis in, amet adipiscing appellantur et cum, animal cotidieque in has. Ea vix nibh fugit accusam, eos in postulant repudiare. Labore nostro quaestio quo ea, solum apeirian perpetua ius id, eirmod facilisis eum ea.</p>
    <p>Ea diam erant munere per, modo ceteros eos in. Vel an dolorum praesent sapientem, et vis verear aeterno.</p>
    <button class="box-btn disabled [&&]:text-secondary/25">Coming soon</button>
  </div>
  <Carousel/>
</SectionLayout>