---
// import "../../styles/carousel.css";
import Carousel from "./components/Carousel.astro";
---

<section id="book">
  <div class="flex flex-col min-h-screen relative">
    <!-- <Carousel/> -->
    <!-- <span class="absolute text-serif-md font-serif pb-8 pt-[25vh] md:mx-32 mx-4 md:pb-16 z-10">
      A Hitchhiker's Guide to Quantitative Finance
    </span> -->
    <div class="section-title text-serif-md font-serif pb-8 pt-[25vh] md:mx-32 mx-4 md:pb-16 z-10">
      <span class="block">A Hitchhiker's Guide to</span>
      <span class="block">Quantitative Finance</span>
    </div>
  <!-- <div class="flex flex-col min-h-screen"> -->
      <!-- <Carousel/> -->
        <div class="flex flex-col mx-4 md:mx-32 pt-16">
          <!-- <span class="text-serif-md font-serif w-full md:w-1/2 pt-16 md:pt-32 pb-8 md:pb-16">A Hitchhiker's Guide to Quantitative Finance</span> -->
          <span class="text-sans-md font-sans w-full md:w-2/5 pb-8 md:pb-16">The author, drawing on his background in computational chemistry, provides aspiring quants with valuable insights into the interdisciplinary nature of quantitative finance, bridging the fields of mathematics, statistics, finance, and computer science. Structured in a way that allows readers to approach each chapter independently, the book covers a wide array of topics, from statistical modelling and regression to market microstructure and derivative pricing. Despite its rigor, it refrains from advocating specific trading strategies, choosing instead to empower readers with the knowledge and tools needed to develop their own.</span>
          <button class="box-btn pointer-events-none [&&]:text-secondary/25 self-start">
            <span>Coming soon</span>
          </button>
        </div>
  </div>
</section>