---
import Footer from "../../components/Footer.astro";
import ContactForm from "./components/ContactForm.astro";
---

<section id="contact">
  <div class="mx-4 flex min-h-[950px] flex-col md:mx-32 md:min-h-screen">
    <span class="section-title pb-8 pt-16 font-serif text-serif-md md:pb-16 md:pt-32">Get in touch</span>
    <div class="flex flex-grow flex-col justify-between">
      <ContactForm />
      <Footer />
    </div>
  </div>
</section>
