---
import SectionLayout from "../../layouts/SectionLayout.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "./components/ContactForm.astro";
---

<SectionLayout sectionTag="contact">
  <div class="flex flex-col justify-between px-6 min-h-screen">
    <span class="text-serif-md font-serif font-normal pt-24 pb-8">Get in touch</span>
    <ContactForm/>
    <Footer/>
  </div>
</SectionLayout>


