---
import SectionLayout from "../../layouts/SectionLayout.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "./components/ContactForm.astro";
---

<SectionLayout sectionTag="contact">
  <div class="flex flex-col min-h-screen">
    <div class="flex-none">
      <span class="text-serif-md font-serif py-16">Get in touch</span>
    </div>
    <div class="flex flex-col justify-center flex-grow">
      <ContactForm/>
    </div>
    <div class="flex-none">
      <Footer/>
    </div>
  </div>
</SectionLayout>