---
import SectionLayout from "../../layouts/SectionLayout.astro";
import Footer from "../../components/Footer.astro";
import ContactForm from "./components/ContactForm.astro";
---

<SectionLayout sectionTag="contact">
  <div class="flex flex-col md:min-h-screen mx-4 min-h-[950px]">
    <span class="text-serif-md font-serif pt-16 md:pt-32 pb-8 md:pb-16">Get in touch</span>
     <div class="flex flex-col justify-between flex-grow">
      <ContactForm/>
      <Footer/>
     </div>
  </div>
</SectionLayout>