---
import Footer from "../../components/Footer.astro";
import ContactForm from "./components/ContactForm.astro";
---

<section id="contact" data-color="rgb(249 249 249)">
  <div class="mx-4 flex min-h-dvh flex-col md:mx-32 md:min-h-screen">
    <span class="pb-8 pt-16 font-serif text-serif-md text-primary md:pb-16 md:pt-32">Get in touch</span>
    <div class="flex flex-grow flex-col justify-between">
      <ContactForm />
      <Footer />
    </div>
  </div>
</section>
