---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout sectionTag="contact">
  <h2 class="mb-4 text-2xl">Contact Us</h2>
  <p>Contact details and form.</p>
</SectionLayout>
