---

---

<section id="notes" data-color="rgb(17 17 17)" class="relative flex min-h-dvh flex-col items-center justify-center overflow-hidden">
  <!-- <div class="background-video-embed-wrapper absolute inset-0 z-0">
    <div class="background-video-embed w-full h-full">
      <video class="background-video w-full h-full object-cover" preload="auto" autoplay muted loop playsinline>
        <source src="https://fvse.sgp1.cdn.digitaloceanspaces.com/videos/Background%20DNA.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->
  <div class="absolute inset-0 z-0 my-12 h-full w-full">
    <canvas id="wordCanvas" class="h-full w-full"></canvas>
  </div>
  <div class="relative z-10 mx-auto flex w-min flex-col items-center text-center">
    <div class="inline-block bg-primary p-4 md:p-12">
      <span class="font-serif text-serif-info-minor">Over</span>
      <span id="word-counter" class="text-justify font-serif text-serif-2xl">80,000</span>
      <span class="font-serif text-serif-info-minor">words</span>
      <span class="whitespace-nowrap font-serif text-serif-info-major">in 8 years</span>
      <div class="w-full">
        <span id="desc" class="fade-element mx-auto my-12 block break-words text-justify font-sans text-sans-md [text-align-last:center] md:text-sans-timeline">A collection of working notes and insights on a myriad of topics, continually refined with fresh perspectives.</span>
      </div>
    <a href="/notes">
      <button class="box-btn w-full whitespace-nowrap">View archive</button>
    </a>
    </div>
  </div>
</section>
