---

---

<section id="notes" data-color="rgb(17 17 17)" class="flex min-h-dvh flex-col items-center justify-center">
  <div class="mb-4 flex w-full flex-col items-center md:mb-12">
    <div class="flex w-min flex-col items-center">
      <span class="font-serif text-serif-info-minor">Over</span>
      <span id="word-counter" class="inline-block font-serif text-serif-2xl">80,000</span>
      <span class="font-serif text-serif-info-minor">words</span>
      <span class="mb-8 whitespace-nowrap font-serif text-serif-info-major md:mb-16">in 8 years</span>
    </div>
    <div class="w-full max-w-[var(--counter-width)] text-center" style="--counter-width: min(100%, 400px);">
      <span id="desc" class="fade-element inline-block w-full text-balance break-words font-sans text-sans-md md:text-sans-timeline">A collection of working notes and insights on a myriad of topics, continually refined as they are revisited for fresh perspectives.</span>
    </div>
  </div>
  <button class="box-btn [&&]:px-12">
    <span>View archive</span>
  </button>
  <!-- <div class="relative flex items-center flex-col text-center w-min mx-auto">
    <span class="font-serif text-serif-info-minor">Over</span>
    <span id="word-counter" class="font-serif text-serif-2xl">80,000</span>
    <span class="font-serif text-serif-info-minor">words</span>
    <span class="font-serif text-serif-info-major mb-8 md:mb-16 whitespace-nowrap">in 8 years</span>
    <div class="absolute top-full left-0 right-0 w-full px-4"> 
      <span id="desc" class="font-sans text-sans-md md:text-sans-timeline fade-element break-words block mx-auto">
        A collection of working notes and insights on a myriad of topics, continually refined with fresh perspectives.
      </span>
    </div>
    <button class="box-btn [&&]:px-12 mb-4 md:mb-12">
      <span class="whitespace-nowrap">View archive</span>
    </button>
  </div> -->
</section>
