---

---

<section id="projects" data-color="rgb(17 17 17)">
  <div class="flex min-h-dvh flex-col">
    <div class="mx-4 pb-8 pt-32 font-sans text-sans-projects text-primary text-outline-white md:mx-32 md:pb-16">
      <span class="fade-element block uppercase tracking-tight">Proj<br />ects</span>
    </div>
  </div>
</section>
