---
import { Icon } from 'astro-icon/components'
---

<section id="home">
<div class="relative min-h-screen pb-[env(safe-area-inset-bottom)] flex flex-col justify-between mx-4">
  <div class="flex flex-col justify-center items-center flex-grow">
    <span id="title" class="font-serif font-semibold text-serif-2xl pb-9 opacity-0">Michael Gauci</span>
    <span id="subtitle" class="font-sans font-normal md:text-sans-lg text-sans-md md:pl-6 pl-2 opacity-0">BSc (Hons) Chemistry, MSc Metamaterials</span>
  </div>
  <!-- <div class="flex justify-center mb-4">
    <Icon name="down-arrow" id="arrow" class="animate-bounce size-12 opacity-0" />
  </div> -->
  <div id="arrow" class="flex opacity-0">
    <div class="w-[1px] h-[60px] overflow-hidden">
      <div class="w-full h-full bg-white animate-scrolldown"></div>
    </div>
    <span class="pl-4 font-sans text-sans-sm uppercase">Scroll</span>
  </div>
</div>
</section>