---
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'

import ProfileImage from "../../images/profile.webp";
import SectionLayout from "../../layouts/SectionLayout.astro";
import AvailabilityTag from "./components/AvailabilityTag.astro";
---

<SectionLayout sectionTag="home">
  <div class="flex flex-col justify-center items-center min-h-screen" >
    <AvailabilityTag/>
    <div class="flex align-middle justify-center content-center flex-wrap my-auto">
      <Image src={ProfileImage} alt="" />
      <div class="flex flex-col justify-center items-center">
        <span class="whitespace-nowrap mt-12 mb-4 font-serif text-6xl">Michael Gauci</span>
        <span class="font-sans text-sm font-light">BSc (Chem), MSc (Metamaterials)</span>
      </div>
    </div>
    <Icon name="down-arrow" class="animate-bounce size-8 mb-6"/>
  </div>
  <script type="module" src="/src/scripts/blackout.js"></script>
</SectionLayout>
