---
const baseURL = Astro.site;
import { Image } from "astro:assets";
---

<section id="home" data-color="rgb(17 17 17)">
  <div class="relative mx-4 flex min-h-dvh flex-col justify-between md:mx-32">
    <div class="flex pt-4 md:justify-between">
      <div class="flex w-full justify-around md:justify-start md:gap-8">
        <a href="#notes" class="fade-to-black-trigger">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">Notes</span>
                <span class="link-title2 title">Notes</span>
              </div>
            </span>
          </div>
        </a>
        <a href="#projects" class="fade-to-black-trigger">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">Projects</span>
                <span class="link-title2 title">Projects</span>
              </div>
            </span>
          </div>
        </a>
      </div>
      <div class="flex w-full justify-around md:justify-end md:gap-8">
        <a href="#about" onclick="lenis.scrollTo('#about')">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">About</span>
                <span class="link-title2 title">About</span>
              </div>
            </span>
          </div>
        </a>
        <div>
          <a href="#contact" class="fade-to-black-trigger flex items-center">
            <span class="relative mr-2 flex h-3 w-3 items-center justify-center">
              <span class="absolute h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
              <span class="relative h-2 w-2 rounded-full bg-green-500"></span>
            </span>
            <div class="link">
              <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
                <div class="link-container">
                  <span class="link-title1 title">Contact</span>
                  <span class="link-title2 title">Contact</span>
                </div>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- <div id="title-container" class="relative flex flex-grow flex-col items-center justify-center">
      <Image src={import("/src/images/edited-colour-profile.png")} class="absolute pb-40 z-0 md:scale-[60%] scale-75 animate-[fadeIn_2s_ease-in-out_forwards] brightness-[0.7] saturate-[0.5]" alt="Profile" />
      <div class="overflow-hidden">
        <a href="#home" id="title" class="relative z-10 font-serif text-serif-2xl font-semibold origin-center opacity-0 pointer-events-none mix-blend-difference fade-to-black-trigger pb-24">
          <span class="block animate-textReveal">Michael Gauci</span>
        </a>
      </div>
    </div> -->
    <div id="title-container" class="relative mt-20 flex flex-grow flex-col items-center justify-center">
      <Image src={import("/src/images/improved-profile.png")} id="profile" class="scale-80 absolute z-0 animate-[fadeIn_2s_ease-in-out_forwards] pb-40 brightness-[0.7] saturate-[0.5] md:scale-[60%]" alt="Profile" />
      <a href="#home" id="title" class="fade-to-black-trigger pointer-events-none relative z-10 origin-center pb-40 font-serif text-serif-title font-semibold opacity-0 mix-blend-difference md:pb-24">
        <span>Michael Gauci</span>
      </a>
    </div>
    <!-- <div id="title-container" class="flex flex-grow flex-col items-center justify-center"> -->
    <!-- <a href="#home" id="title" class="font-serif text-serif-2xl font-semibold origin-center opacity-0 pointer-events-none mix-blend-difference fade-to-black-trigger pb-24"> -->
    <!-- <span>Michael Gauci</span> -->
    <!-- </a> -->
    <!-- <span id="subtitle" class="pl-2 font-sans text-sans-md font-normal opacity-0 md:pl-6 md:text-sans-lg">BSc (Hons) Chemistry, MSc Metamaterials</span> -->
    <!-- </div> -->
    <div class="absolute bottom-0 right-0 items-center md:flex">
      <div id="arrow-container">
        <div id="arrow" class="flex opacity-0">
          <span class="pr-4 font-sans text-sans-sm uppercase">Scroll</span>
          <div class="h-[60px] w-[1px] overflow-hidden">
            <div class="animate-scrolldown h-full w-full bg-gradient-to-b from-secondary from-50% to-primary to-50% bg-[length:100%_200%] bg-[0_-60px]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
