---
const baseURL = Astro.site;
import { Image } from "astro:assets";
---

<section id="home" data-color="rgb(17 17 17)">
  <div class="relative mx-4 flex min-h-dvh flex-col md:mx-32">
    <div class="flex pt-4 md:justify-between">
      <div class="flex w-full justify-around md:justify-start md:gap-8">
        <a href="#notes" class="fade-to-black-trigger">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">Notes</span>
                <span class="link-title2 title">Notes</span>
              </div>
            </span>
          </div>
        </a>
        <a href="#" class="fade-to-black-trigger">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">Projects</span>
                <span class="link-title2 title">Projects</span>
              </div>
            </span>
          </div>
        </a>
      </div>
      <div class="flex w-full justify-around md:justify-end md:gap-8">
        <a href="#about" onclick="lenis.scrollTo('#about', { duration: 1, easing: (t) => t })">
          <div class="link">
            <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
              <div class="link-container">
                <span class="link-title1 title">About</span>
                <span class="link-title2 title">About</span>
              </div>
            </span>
          </div>
        </a>
        <div>
          <a href="#contact" class="fade-to-black-trigger flex items-center">
            <span class="relative mr-2 flex h-3 w-3 items-center justify-center">
              <span class="absolute h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
              <span class="relative h-2 w-2 rounded-full bg-green-500"></span>
            </span>
            <div class="link">
              <span class="relative h-[20px] select-none overflow-hidden font-sans text-sans-sm uppercase">
                <div class="link-container">
                  <span class="link-title1 title">Contact</span>
                  <span class="link-title2 title">Contact</span>
                </div>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="title-container" class="relative flex flex-grow flex-col items-center justify-center overflow-hidden">
      <Image 
        src={import("/src/images/cropped-profile.webp")} 
        id="profile" 
        class="max-h-[90vh] w-auto max-w-[90vw] absolute z-0 animate-[fadeIn_2s_ease-in-out_forwards] brightness-[0.7] saturate-[0.5] object-contain" 
        alt="Profile"
      />
      <a href="#home" id="title" class="whitespace-nowrap fade-to-black-trigger pointer-events-none relative z-10 origin-center font-serif text-serif-title font-semibold opacity-0 mix-blend-difference overflow-hidden hover:mix-blend-normal">
        <span class="block animate-textReveal">Michael Gauci</span>
      </a>
    </div>
    <div class="absolute bottom-0 right-0 items-center md:flex">
      <div id="arrow-container">
        <div id="arrow" class="flex opacity-0">
          <span class="pr-4 font-sans text-sans-sm uppercase">Scroll</span>
          <div class="h-[60px] w-[1px] overflow-hidden">
            <div class="animate-scrolldown h-full w-full bg-gradient-to-b from-secondary from-50% to-primary to-50% bg-[length:100%_200%] bg-[0_-60px]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
