---
---

<div class="prose max-w-none prose-h3:font-serif prose-h2:font-serif prose-h2:text-secondary prose-h3:text-secondary prose-h3:text-3xl prose-p:text-base prose-p:font-normal prose-p:text-secondary prose-li:text-base prose-li:text-secondary prose-li:font-normal prose-ul:text-base prose-strong:text-secondary prose-strong:font-bold prose-strong:text-l pb-24 prose-a:hyperlink">
  <slot />
</div>