---
---

<div class="prose max-w-none prose-h2:font-serif prose-h2:text-secondary prose-h2:text-serif-sm prose-p:text-sans-md prose-p:font-normal prose-p:text-secondary prose-li:text-base prose-li:text-secondary prose-li:font-normal prose-strong:text-secondary prose-strong:font-bold prose-strong:text-sans-md pb-24 prose-a:hyperlink">
  <slot />
</div>