---

---

<div class="prose-a:hyperlink prose max-w-none pb-24 prose-h2:font-serif prose-h2:text-serif-sm prose-h2:text-secondary prose-p:text-sans-md prose-p:font-normal prose-p:text-secondary prose-strong:text-sans-md prose-strong:font-bold prose-strong:text-secondary prose-li:text-sans-md prose-li:font-normal prose-li:text-secondary">
  <slot />
</div>
