---
const { sectionTag } = Astro.props;
---

<section class="z-0" id={sectionTag}>
  <!-- <div class=" text-secondary text-sans-sm font-extralight uppercase">
    {sectionTag !== "home" && (<span>{sectionTag}</span>)}
  </div> -->
  <slot />
</section>