---
const { sectionTag } = Astro.props;
---

<section class="relative h-screen z-0" id={sectionTag}>
  <div class="absolute left-0 top-1/2 transform -translate-y-1/2 -rotate-90 text-secondary text-xs font-extralight uppercase">
    {sectionTag !== "home" && (<span>{sectionTag}</span>)}
  </div>
  <slot />
</section>